workflows/post_image_generator_backup.json
{
  "updatedAt": "2025-12-29T13:28:53.132Z",
  "createdAt": "2025-12-28T00:13:37.628Z",
  "id": "Fwf2phHYCZajIrvx",
  "name": "Post Image Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "post-gen-img-v2-2025",
      "parameters": {
        "path": "post-generate-image-v2",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "get-user-1",
      "name": "Get User Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FMw8swyCIDf0EHxe",
          "name": "Supabase OS"
        }
      },
      "parameters": {
        "operation": "get",
        "tableId": "user_data",
        "filterType": "manual",
        "matchType": "matchOne",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const webhookData = $('Webhook').first().json;\nconst userData = $('Get User Data').first().json;\n\n// Use current_date from request body, or fallback to generating it here\nconst currentDate = webhookData.body?.current_date || new Date().toLocaleDateString('ru-RU', {\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric'\n});\n\nconst prompt = webhookData.body?.prompt || '';\nconst generatedText = webhookData.body?.generated_text || '';\n\nconst fullPrompt = `Create an image based on:\n\n**Current date:** ${currentDate}\n\n**User prompt:** ${prompt}\n\n**Post text:** ${generatedText}\n\n**Brand context:**\n- Brand: ${userData.brand || 'not specified'}\n- Target audience: ${userData.target_audience || 'not specified'}\n- Tone: ${userData.tone_of_voice || 'not specified'}\n\nCreate a visually compelling scene. If the prompt requires text or inscriptions (like greetings, year numbers, titles), include them in the image. Max 900 characters, English only.`;\n\nreturn { prompt: fullPrompt, user_id: webhookData.body?.user_id };"
      }
    },
    {
      "id": "ai-agent-1",
      "name": "Scene Description Creator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are an image scene description creator. Output ONLY the scene description in English, max 900 characters. If the scene requires text elements (greetings, year numbers, titles, labels), describe exactly what text should appear and where. Focus on visual elements: composition, lighting, colors, mood, style, and any text/inscriptions needed."
        }
      }
    },
    {
      "id": "openai-model-1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1220,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "ABbioYmlsl4KQZRt",
          "name": "OS Models"
        }
      },
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      }
    },
    {
      "id": "gemini-1",
      "name": "Generate Image (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "D9yZ53u8unGkXaR7",
          "name": "orangespace.io@gmail.com - Gemini Api"
        }
      },
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.output }}",
        "options": {
          "sampleCount": 1
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "upload-1",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1660,
        300
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "5zxl8XAnEsnTCLdT",
          "name": "Supabase Storage Auth"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://supabase.orangespace.io/storage/v1/object/carusel/post-{{ $('Prepare Prompt').item.json.user_id + \"-\" + new Date().getTime() + \".png\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{$binary.data.mimeType}}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1880,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  image_url: \"https://supabase.orangespace.io/storage/v1/object/public/\" + $json.Key,\n  scene_description: $('Scene Description Creator').item.json.output\n}) }}"
      }
    },
    {
      "id": "validate-input-1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $json.body || {};\nconst userId = body.user_id;\n\nif (!userId || userId === 'undefined' || userId === undefined) {\n    throw new Error('Missing or invalid user_id. Please reload the app.');\n}\n\nreturn {\n    body: body,\n    user_id: parseInt(String(userId), 10)\n};"
      }
    },
    {
      "id": "telegram-photo-1",
      "name": "Send Photo to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1880,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "izaneuZqtIsnGgLA",
          "name": "@os_factory_bot"
        }
      },
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Get User Data').item.json.tg_chat_id }}",
        "file": "={{ 'https://supabase.orangespace.io/storage/v1/object/public/' + $json.Key }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "update-post-1",
      "name": "Update Post",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FMw8swyCIDf0EHxe",
          "name": "Supabase OS"
        }
      },
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.post_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "generated_image_url",
              "fieldValue": "={{ 'https://supabase.orangespace.io/storage/v1/object/public/' + $('Upload to Storage').item.json.Key }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "image_generated"
            }
          ]
        }
      }
    },
    {
      "id": "if-post-id-1",
      "name": "Has post_id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "post-id-check",
              "leftValue": "={{ $('Webhook').item.json.body.post_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "validate-image-1",
      "name": "Validate Image Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Check if Gemini returned valid image data\nconst binaryData = $input.first().binary;\n\nif (!binaryData || !binaryData.data) {\n  throw new Error('No image data received from Gemini');\n}\n\n// Check file size (should be > 0)\nconst fileSize = $input.first().json.fileSize;\nif (fileSize === '0 B' || fileSize === '0' || !fileSize) {\n  throw new Error('Gemini returned empty image (0 bytes). Please retry.');\n}\n\n// Pass through the data\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Data": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Scene Description Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scene Description Creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scene Description Creator": {
      "main": [
        [
          {
            "node": "Generate Image (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Gemini)": {
      "main": [
        [
          {
            "node": "Validate Image Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Photo to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has post_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has post_id?": {
      "main": [
        [
          {
            "node": "Update Post",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Post": {
      "main": [
        []
      ]
    },
    "Validate Image Size": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "2ef12c96-4ee8-4970-a017-410b67bdc861",
  "activeVersionId": "2ef12c96-4ee8-4970-a017-410b67bdc861",
  "versionCounter": 81,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T00:13:37.633Z",
      "createdAt": "2025-12-28T00:13:37.633Z",
      "role": "workflow:owner",
      "workflowId": "Fwf2phHYCZajIrvx",
      "projectId": "cQ8n4CNeLwWqpkzH",
      "project": {
        "updatedAt": "2025-06-20T16:31:55.712Z",
        "createdAt": "2025-06-20T04:31:02.507Z",
        "id": "cQ8n4CNeLwWqpkzH",
        "name": "Vladimir White <info@orangespace.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-20T04:31:02.507Z",
            "createdAt": "2025-06-20T04:31:02.507Z",
            "userId": "8816ce12-e678-469a-837c-e3b54d9ff524",
            "projectId": "cQ8n4CNeLwWqpkzH",
            "user": {
              "updatedAt": "2025-12-29T06:14:08.000Z",
              "createdAt": "2025-06-20T04:31:01.688Z",
              "id": "8816ce12-e678-469a-837c-e3b54d9ff524",
              "email": "info@orangespace.ai",
              "firstName": "Vladimir",
              "lastName": "White",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-20T04:40:42.796Z",
                "personalization_survey_n8n_version": "1.98.2",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "6HxnSNLsN8wAMEhu",
                "userActivatedAt": 1750866597345,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759497887533
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-29T13:28:53.103Z",
    "createdAt": "2025-12-29T13:28:53.103Z",
    "versionId": "2ef12c96-4ee8-4970-a017-410b67bdc861",
    "workflowId": "Fwf2phHYCZajIrvx",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          300
        ],
        "webhookId": "post-gen-img-v2-2025",
        "parameters": {
          "path": "post-generate-image-v2",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "get-user-1",
        "name": "Get User Data",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          680,
          300
        ],
        "credentials": {
          "supabaseApi": {
            "id": "FMw8swyCIDf0EHxe",
            "name": "Supabase OS"
          }
        },
        "parameters": {
          "operation": "get",
          "tableId": "user_data",
          "filterType": "manual",
          "matchType": "matchOne",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "code-1",
        "name": "Prepare Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const webhookData = $('Webhook').first().json;\nconst userData = $('Get User Data').first().json;\n\n// Use current_date from request body, or fallback to generating it here\nconst currentDate = webhookData.body?.current_date || new Date().toLocaleDateString('ru-RU', {\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric'\n});\n\nconst prompt = webhookData.body?.prompt || '';\nconst generatedText = webhookData.body?.generated_text || '';\n\nconst fullPrompt = `Create an image based on:\n\n**Current date:** ${currentDate}\n\n**User prompt:** ${prompt}\n\n**Post text:** ${generatedText}\n\n**Brand context:**\n- Brand: ${userData.brand || 'not specified'}\n- Target audience: ${userData.target_audience || 'not specified'}\n- Tone: ${userData.tone_of_voice || 'not specified'}\n\nCreate a visually compelling scene. If the prompt requires text or inscriptions (like greetings, year numbers, titles), include them in the image. Max 900 characters, English only.`;\n\nreturn { prompt: fullPrompt, user_id: webhookData.body?.user_id };"
        }
      },
      {
        "id": "ai-agent-1",
        "name": "Scene Description Creator",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1220,
          300
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "options": {
            "systemMessage": "You are an image scene description creator. Output ONLY the scene description in English, max 900 characters. If the scene requires text elements (greetings, year numbers, titles, labels), describe exactly what text should appear and where. Focus on visual elements: composition, lighting, colors, mood, style, and any text/inscriptions needed."
          }
        }
      },
      {
        "id": "openai-model-1",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1220,
          500
        ],
        "credentials": {
          "openAiApi": {
            "id": "ABbioYmlsl4KQZRt",
            "name": "OS Models"
          }
        },
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        }
      },
      {
        "id": "gemini-1",
        "name": "Generate Image (Gemini)",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          1440,
          300
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "D9yZ53u8unGkXaR7",
            "name": "orangespace.io@gmail.com - Gemini Api"
          }
        },
        "parameters": {
          "resource": "image",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-image",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
          },
          "prompt": "={{ $json.output }}",
          "options": {
            "sampleCount": 1
          }
        },
        "onError": "continueErrorOutput",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "id": "upload-1",
        "name": "Upload to Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1660,
          300
        ],
        "credentials": {
          "httpCustomAuth": {
            "id": "5zxl8XAnEsnTCLdT",
            "name": "Supabase Storage Auth"
          }
        },
        "parameters": {
          "method": "POST",
          "url": "=https://supabase.orangespace.io/storage/v1/object/carusel/post-{{ $('Prepare Prompt').item.json.user_id + \"-\" + new Date().getTime() + \".png\" }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "={{$binary.data.mimeType}}"
              },
              {
                "name": "x-upsert",
                "value": "true"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1880,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  success: true,\n  image_url: \"https://supabase.orangespace.io/storage/v1/object/public/\" + $json.Key,\n  scene_description: $('Scene Description Creator').item.json.output\n}) }}"
        }
      },
      {
        "id": "validate-input-1",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          350,
          300
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const body = $json.body || {};\nconst userId = body.user_id;\n\nif (!userId || userId === 'undefined' || userId === undefined) {\n    throw new Error('Missing or invalid user_id. Please reload the app.');\n}\n\nreturn {\n    body: body,\n    user_id: parseInt(String(userId), 10)\n};"
        }
      },
      {
        "id": "telegram-photo-1",
        "name": "Send Photo to Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1880,
          500
        ],
        "credentials": {
          "telegramApi": {
            "id": "izaneuZqtIsnGgLA",
            "name": "@os_factory_bot"
          }
        },
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Get User Data').item.json.tg_chat_id }}",
          "file": "={{ 'https://supabase.orangespace.io/storage/v1/object/public/' + $json.Key }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "update-post-1",
        "name": "Update Post",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2100,
          300
        ],
        "credentials": {
          "supabaseApi": {
            "id": "FMw8swyCIDf0EHxe",
            "name": "Supabase OS"
          }
        },
        "parameters": {
          "operation": "update",
          "tableId": "posts",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $('Webhook').item.json.body.post_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "generated_image_url",
                "fieldValue": "={{ 'https://supabase.orangespace.io/storage/v1/object/public/' + $('Upload to Storage').item.json.Key }}"
              },
              {
                "fieldName": "status",
                "fieldValue": "image_generated"
              }
            ]
          }
        }
      },
      {
        "id": "if-post-id-1",
        "name": "Has post_id?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2100,
          500
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "post-id-check",
                "leftValue": "={{ $('Webhook').item.json.body.post_id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "validate-image-1",
        "name": "Validate Image Size",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1550,
          300
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Check if Gemini returned valid image data\nconst binaryData = $input.first().binary;\n\nif (!binaryData || !binaryData.data) {\n  throw new Error('No image data received from Gemini');\n}\n\n// Check file size (should be > 0)\nconst fileSize = $input.first().json.fileSize;\nif (fileSize === '0 B' || fileSize === '0' || !fileSize) {\n  throw new Error('Gemini returned empty image (0 bytes). Please retry.');\n}\n\n// Pass through the data\nreturn $input.all();"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Get User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Data": {
        "main": [
          [
            {
              "node": "Prepare Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Prompt": {
        "main": [
          [
            {
              "node": "Scene Description Creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Scene Description Creator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Scene Description Creator": {
        "main": [
          [
            {
              "node": "Generate Image (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Image (Gemini)": {
        "main": [
          [
            {
              "node": "Validate Image Size",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Storage": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Photo to Telegram",
              "type": "main",
              "index": 0
            },
            {
              "node": "Has post_id?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has post_id?": {
        "main": [
          [
            {
              "node": "Update Post",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Update Post": {
        "main": [
          []
        ]
      },
      "Validate Image Size": {
        "main": [
          [
            {
              "node": "Upload to Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vladimir White",
    "name": null,
    "description": null
  }
}